#root {
  max-width: 1500px;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(61, 21, 220);
  padding: 20px;
}

.output {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  background: hsl(0, 79%, 50%);
  border: 1px solid hsl(0, 84%, 48%);
  padding: 20px;
  border-radius: 4px;
}

.text-editor {
  width: 100%;
  max-width: 800px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.ql-editor {
  min-height: 200px;
  color: black;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="file"] {
  padding: 10px 20px;
  font-size: 16px;
}
